.game {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    height: 300px;
    width: 300px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
}

.input {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    color: blue;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}